.title__nav_wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgba(3, 37, 65, 1);
  height: 10px;
  gap:15px;
}

.header__title_text {
  display: flex;
  float: left;
}
a:link {
  text-decoration: none;
  color: #fff;
}
a:visited {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
a:active {
  text-decoration: none;
  color: red;
}

.nav__items {
  color: #fff;
  display: flex;
  gap: 1rem;
}

.search__bar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(3, 37, 65, 1);
  padding: 1rem;
}

.searchbar {
  display: flex;
  justify-content: flex-end;
}


.searchbar input {
  background-color: transparent;
  border: 1px solid;
  color: #fff;
  height: 30px;
  border-radius: .7rem;
}
