.movie__container {
  display: flex;
  flex-wrap: wrap;
  background-color: #040720;
  padding: 10px;
  line-height: 1.7;
  background-image: linear-gradient(
    90deg,
    transparent 96%,
    rgba(30, 25, 5, 0.1) 5%
  );

  background-size: 20px 20px;
}

.movie__container p {
  color: white;
}

#over {
  color:#040720;
}
.movie__poster {
  margin: 1rem;
  background-color: rgba(3, 37, 65, 1);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
  font-size: 70%;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.title {
  color: #fff;
}

.votes {
  color: #fff;
}
.poster {
  width: 250px;
}

.poster img {
  max-width: 100%;
}

.movie-overview {
  padding: 1rem;
  background-color: #fff;
  color: rgba(3, 37, 65, 1);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie__poster:hover .movie-overview {
  transform: translateY(0%);
}

.nav__items a {
  cursor: pointer;
}

/* body {
	background: #141414;
	color: #ffffff;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
} */
